@use "/src/scss/mixins" as *;
@use "/src/scss/theme" as *;

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  @include flexCenter;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 25px;

  >h2 {
    color: $white;
    font-size: 20px;
    text-align: center;
    z-index: 3;
  }

  img {
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 1/1;
  }
}

.datas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 2;
  opacity: 0;
  background: $containerPrimary;
  transition: all ease-out 150ms;
  border: $primary solid 2px;
  border-radius: 4px;
  gap: 8px;

  &:hover {
    opacity: 1;
  }

  >p {
    color: $white;
    text-align: center;
    z-index: 3;
    font-size: 16px;
  }

  >span {
    font-size: 20px;
    color: $primary;
    text-align: center;
  }
}

.buttons {
  @include flexCenter;
  width: 100%;
  gap: 10px;

  img {
    width: 58px;
    aspect-ratio: 1/1;
    border: solid 2px transparent;
    border-radius: 50%;

    &:hover {
      border: solid 2px $primary;
    }
  }
}