@use "/src/scss/mixins" as *;
@use "/src/scss/theme" as *;

.container {
  @include container;
  background: $containerPrimary;
  margin: 100vh 0 0 0;
}

.content {
  @include flexCenter;
  @include content;
  flex-direction: column;
  gap: 80px;

  >p {
    font-size: 20px;
    color: $white;
    text-align: justify;
  }

  span {
    color: $primary;
  }
}

.buttons {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 28px;
}