//dark
$primary: #61dafb;
$black: #000000;
$white: #ffffff;
$containerPrimary: #282c34;
$containerSecundary: #20232a;
$transparent: #0d0d0dd9;

//light
$primary-light: #083553;
$containerPrimary-light: white;
$containerSecundary-light: #dbdee0;
$transparent-light: #fffffdd9;